<!DOCTYPE html>
<html ng-app="demoApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Demo App</title>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="./bower_components/angular-material-icons/angular-material-icons.css"/>
    <link rel="stylesheet" href="./css/style.css"/>
</head>
<body ng-controller="todoController as appp">

<md-toolbar class="md-toolbar-tools">
    <div flex>
    </div>
    <h2 layout-align="center center">
        <span>Demo App</span>
    </h2>

    <div flex></div>

</md-toolbar>
<br>
<br>

<div layout="row">
    <div flex></div>
    <md-button flex="10" class="md-raised" ng-click="appp.myFunc()">Clear Screen</md-button>
    <div flex="10"></div>
</div>

<div layout="row">
    <div flex></div>
    <div flex="90">


        <div flex style="border: 2px solid dodgerblue; height: 55vh !important;" droppable ondragenter="enterStop(event)" ondragover="overStop(event)">

            <ui-view></ui-view>

        </div>
    </div>
    <div flex></div>
</div>

<br>
<br>

<section layout="row" layout-sm="column" layout-align="center center" layout-wrap style="position: fixed;left:40%">
    <md-button class="md-fab md-warn md-hue-2" aria-label="Eat cake" dragdir id="firstButton">
        <md-icon md-svg-src="./img/playnext.svg"></md-icon>
    </md-button>

    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" dragdir id="secondButton">
        <md-icon md-svg-src="./img/indeterminate.svg"></md-icon>
    </md-button>

    <md-button class="md-fab md-hue-4" aria-label="Use Android" dragdir id="thirdButton">
        <md-icon md-svg-src="./img/cancel.svg"></md-icon>
    </md-button>

    <md-button class="md-fab md-primary md-hue-4" aria-label="Profile" dragdir id="fourthButton">
        <md-icon md-svg-src="./img/extension.svg"></md-icon>
    </md-button>
</section>


<!--<div layout="row">
    <div flex></div>
    <div flex="65">

            <form ng-submit="app.add()"  layout="row">
                <md-input-container flex class="md-block" flex-gt-sm>
                    <label>Add Todo item</label>
                    <input ng-model="app.newTodo" required>
                </md-input-container>
                <div flex="10">

                    <md-button type="submit" class="md-fab" aria-label="Eat cake">
                        <ng-md-icon icon="add" size="25"></ng-md-icon>
                    </md-button>
                </div>
            </form>

        <div layout="row">
            <div flex></div>
            <div flex></div>
            <div flex="45">{{app.remaining}} out of {{app.arr.length}} remaining [<a href="" ng-click="app.delete()">Archive</a>]</div>
        </div>

            <div>
                <md-checkbox ng-repeat="item in app.arr track by $index" ng-click="app.check($index)" ng-model="item.done">
                    {{item.value}}
                </md-checkbox>
            </div>



    </div>
    <div flex></div>

</div>-->

<script type="text/javascript">
    function enterStop(e){
        e.preventDefault()
    }
    function overStop(e){
        e.preventDefault()
    }
</script>

<script src="./bower_components/angular/angular.min.js"></script>
<script src="./bower_components/angular-animate/angular-animate.min.js"></script>
<script src="./bower_components/angular-aria/angular-aria.min.js"></script>
<script src="./bower_components/angular-material/angular-material.min.js"></script>
<script src="./bower_components/angular-material-icons/angular-material-icons.js"></script>
<script src="./bower_components/angular-ui-router/angular-ui-router.min.js"></script>
<script src="./js/app.js"></script>
<script src="./js/config.js"></script>
<script src="./js/routeService.js"></script>
<script src="./components/home/home.js"></script>
<script src="./components/add/add.js"></script>
<script src="./components/subtract/subtract.js"></script>
<script src="./components/foo/foo.js"></script>
<script src="./components/complicated/complicated.js"></script>


</body>
</html>